body {
  display: block;
  margin: 10px auto;
  padding: 20px;
  width: 60%;
  border-radius: 10px;
  border: 0.1mm solid grey;
}


h1 {
  font-size: 28px;
  top: 20px;
  margin: 20px 10px 0px 20px;
}

h2 {
  font-size: 18px;
  top: 0px;
  margin: 0px 10px 0px 20px;
}
p {
  padding: 0px 5px 0px 20px;
  margin: 1px;
  font-size: 15px;
}

input {
  padding: 10px 30px;
  border-radius: 10px;
  margin: 5px;
}

.searchBox_details {
  border-radius: 5px;
}

.back_button {
  color: white;
  background: rgb(71, 71, 185);
  box-shadow: 5px 5px 20px gray;
}

.weather_details {
  position: relative;
  text-align: right;
  top: 30px;
  display: block;
  font-style: italic;
  font-size: 18px;
  color: rgb(61, 9, 61);
}

.temp_details {
  left: 0;
  font-size: 40px;
  top: 0px;
  padding: 1px;
  margin: 0 20px;
  display: block;
}

.font_degree {
  font-size: 12px;
}
button{
display: block;
margin: 0px;
padding: 10px 30px;
border-radius: 10px;
position: absolute;
left:65%;
top:36px;
color: white;
background: rgb(22, 161, 52);
box-shadow: 5px 5px 20px gray;

}